.indy{
background-color: white;
color: black;
h1{
color :cornflowerblue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

img{

    height: 300px;
    border-radius: 1em;


}


h2{

    color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

}


.art1{
margin-top: 80px;
display: flex;

.s1{
    width: 50%;
}

.s2{
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin-right: 40px;
}

}


.art2{

display: flex;

.s3{

width: 50%;

}

.s4{
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin-right: 40px;
}

}