nav {
    width: 70%;
    background-color: darkcyan;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
    }

    li:hover{
        background-color: lightcyan;
    }

    li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        padding: 0.25vw;
        width: 5.25vw;
        height: 5.25vw;
    }

    button{
        border: none;
        background: none;
        text-decoration: none;
        color: darkblue;
    }

    a {
        text-decoration: none;
        color: darkblue;
    }
}